@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@keyframes down {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  22% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(8px);
  }
  32% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

@media screen and (max-width: 959px) {
  body {
    height: 100%;
  }
}

.clearfix {
  min-height: 1px;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

* html .clearfix {
  height: 1px;
}

a {
  text-decoration: none;
  color: #34abd3;
}

img {
  width: 100%;
  vertical-align: bottom;
}

@media screen and (max-width: 959px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 1.8rem;
  }
  .sp {
    display: none !important;
  }
}

/* iphone submit css reset */
input[type="submit"],
input[type="button"] {
  border-radius: 10px;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

.mwform-checkbox-field-text {
  display: none;
}

.slick-slide-arrow {
  position: absolute;
  bottom: -50px;
  color: #8a8482;
}

@media screen and (max-width: 959px) {
  .slick-slide-arrow {
    bottom: -25px;
    background: #fff;
    padding: 16px 0;
    z-index: 2;
    width: 20%;
    text-align: center;
  }
}

.slick-slide-arrow__prev {
  left: 10%;
}

@media screen and (max-width: 959px) {
  .slick-slide-arrow__prev {
    left: 0;
  }
}

.slick-slide-arrow__next {
  left: 27%;
}

@media screen and (max-width: 959px) {
  .slick-slide-arrow__next {
    left: 20%;
  }
}

.slick-slide-arrow:hover {
  cursor: pointer;
}

@media screen and (max-width: 959px) {
  .l-header {
    width: 100%;
    background: #fff;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .l-header-logo {
    width: 149px;
    margin-left: 5%;
  }
}

footer {
  background: #f5f2f6;
  position: relative;
  min-width: 1190px;
}

@media screen and (max-width: 959px) {
  footer {
    min-width: 100%;
  }
}

.l-footer-wrap {
  width: 1190px;
  margin: 0 auto;
  padding: 40px 0 20px;
  background: #f5f2f6;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 959px) {
  .l-footer-wrap {
    width: 100%;
  }
}

.l-footer-name {
  font-weight: bold;
  margin-left: 51px;
}

@media screen and (max-width: 959px) {
  .l-footer-name {
    margin-left: 0;
    width: 90%;
    margin: 0 auto 12px;
    font-size: 1.8rem;
  }
}

.l-footer-address {
  font-size: 1.6rem;
  margin: 0 29px;
}

@media screen and (max-width: 959px) {
  .l-footer-address {
    width: 90%;
    margin: 0 auto;
  }
}

.l-footer-tel {
  font-size: 1.6rem;
}

.l-footer-tel a {
  color: #000;
}

@media screen and (max-width: 959px) {
  .l-footer-tel {
    width: 90%;
    margin: 4px auto 12px;
  }
}

.l-footer-map {
  background: #d40000;
  text-align: center;
  color: #fff;
  padding: 4px 12px;
  font-size: 1.2rem;
  border-radius: 20px;
  margin: 0 180px 0 28px;
}

@media screen and (max-width: 959px) {
  .l-footer-map {
    margin: 0 auto 0 5%;
  }
}

.l-footer-map .fas {
  margin-left: 5px;
}

.l-footer-map a {
  color: #fff;
}

.l-footer-map:hover {
  opacity: .8;
}

.l-footer-pp {
  font-size: 1.2rem;
  margin: 0 60px 0 0;
}

@media screen and (max-width: 959px) {
  .l-footer-pp {
    margin: 0 15% 0 0;
  }
}

.l-footer-pp__icon {
  background: #000;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 50%;
  padding: 5px;
  margin-right: 6px;
}

.l-footer-pp a {
  color: #000;
}

.l-footer-pp a:hover {
  text-decoration: underline;
}

.l-footer-totop {
  width: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 959px) {
  .l-footer-totop {
    width: 36px;
  }
}

#sidebar {
  width: 250px;
  height: 100vh;
  min-height: 590px;
  position: relative;
  float: left;
}

.fixed {
  position: fixed;
}

.nav {
  width: 250px;
  height: 100vh;
  min-height: 590px;
  border-right: 1px solid #ddd;
  top: 0;
  left: 0;
}

.nav--logo {
  width: 91px;
  margin: 0 0 44px 43px;
  padding-top: 68px;
}

.nav--list {
  font-family: "Noto Serif JP", Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
  font-size: 1.9rem;
}

.nav--list a {
  color: #000;
}

.nav--list li {
  padding: 12px 0 12px 43px;
}

.nav--list li:hover {
  background: rgba(245, 242, 246, 0.7);
}

.nav--icon {
  margin: 14px 0 0 43px;
  font-size: 2.2rem;
}

.nav--icon i {
  color: #000;
}

.nav--icon i:hover {
  opacity: .6;
}

.nav--copyright {
  position: absolute;
  bottom: 20px;
  left: 43px;
  font-size: 10px;
}

@media all and (max-width: 959px) {
  .wrapper {
    height: 100%;
    overflow-x: hidden;
    position: relative;
  }
  .overlay {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(80, 80, 80, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
  }
  .overlay.open {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  main {
    height: 100%;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main.open {
    transform: translateX(-100%);
  }
  .menu-trigger {
    display: inline-block;
    width: 36px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    position: fixed;
    top: 35px;
    right: 30px;
    z-index: 100;
  }
  .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #555;
    transition: all .5s;
  }
  .menu-trigger.active span {
    background-color: #fff;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(6px) rotate(-45deg);
  }
  .menu-trigger span:nth-of-type(2) {
    top: 9px;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
  }
  nav {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    background-image: url("../images/sp_nav_bg.jpg");
    background-size: cover;
    background-position: 100% 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(100%);
    transition: all .5s;
  }
  nav.open {
    transform: translateZ(0);
  }
  .menu-logo {
    width: 149px;
    margin: 0 0 40px 5%;
  }
  nav ul {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #5f3673;
  }
  nav li {
    color: #fff;
    font-size: 1.8rem;
    padding: 20px 0 20px 20px;
    border-top: 1px solid #5f3673;
  }
  .menu-btn {
    width: 90% !important;
    margin: 40px auto 0;
    border: 1px solid #fff;
  }
  .menu-btn a {
    color: #fff;
  }
}

@media all and (min-width: 960px) {
  nav {
    display: none;
  }
}

.u-font-serif {
  font-family: "Noto Serif JP", Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
}

.u-font-serif__white {
  font-family: "Noto Serif JP", Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
  color: #fff;
}

.u-vertical-writing {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -o-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.u-cat-item {
  text-align: center;
  padding: 4px 10px;
  color: #fff;
}

.u-cat-item a {
  color: #fff;
}

@media screen and (max-width: 959px) {
  .u-cat-list {
    padding: 4px 0;
  }
}

.u-cat-news {
  background: #7e1a6a;
}

.u-cat-jyusyoku {
  background: #2a003f;
}

.u-cat-diary {
  background: #d40000;
}

.u-cat-nokotsudo {
  background: #f39800;
}

.u-cat-all {
  background: #622423;
}

.u-fade-logo {
  　opacity: 0;
  animation-name: logo;
  animation-duration: 300s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  2% {
    opacity: 0;
    transform: translateY(-30px);
  }
  3% {
    opacity: 1;
    transform: translateY(0);
  }
}

.u-fade-up,
.u-fade-sidebar {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s;
}

.c-cont--wrap {
  margin-left: 250px;
  overflow-x: scroll;
}

@media screen and (max-width: 959px) {
  .c-cont--wrap {
    margin-left: 0;
    overflow-x: inherit;
  }
}

.c-btn {
  width: 300px;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (max-width: 959px) {
  .c-btn {
    width: 100%;
  }
}

.c-btn__text {
  padding: 14px 0;
  position: relative;
  font-weight: bold;
}

.c-btn__text:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  /*線の上下位置*/
  display: inline-block;
  width: 100px;
  /*線の長さ*/
  height: 4px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #d40000;
  /*線の色*/
}

@media screen and (max-width: 959px) {
  .c-btn__text {
    padding: 18px 0;
  }
}

.c-top-vertical-ttl {
  color: #a69494;
  position: absolute;
  top: 0;
  right: 90px;
  letter-spacing: 3px;
}

.c-top-vertical-ttl img {
  width: 1px;
  margin: 0 0 24px 13px;
}

@media screen and (max-width: 959px) {
  .c-top-vertical-ttl {
    position: inherit;
    right: 0;
    letter-spacing: inherit;
    font-size: 1.4rem;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    width: 150px;
  }
  .c-top-vertical-ttl:before {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #a69494;
    display: block;
    margin-right: 20px;
  }
}

.c-page-visual {
  position: relative;
}

@media screen and (max-width: 959px) {
  .c-page-visual {
    padding-top: 95px;
    width: 100%;
  }
}

.c-page-ttl {
  position: absolute;
  right: 80px;
  bottom: -50px;
  background: #fff;
  font-size: 2.4rem;
  padding: 50px 32px 70px;
  border-top: 6px solid #d40000;
  letter-spacing: 3px;
}

@media screen and (max-width: 959px) {
  .c-page-ttl {
    right: 15%;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 34px 20px 40px;
  }
}

.c-page-breadcrumbs {
  font-size: 1.6rem;
  margin: 30px 51px 0;
  z-index: 3;
  position: relative;
}

@media screen and (max-width: 959px) {
  .c-page-breadcrumbs {
    font-size: 1.2rem;
    margin: 20px 5% 0;
  }
}

.c-page-breadcrumbs__arrow {
  margin: 0 16px;
}

.c-page-breadcrumbs a {
  color: #666;
  text-decoration: underline;
}

.c-page-breadcrumbs a:hover {
  color: #000;
}

.c-page-wrap {
  padding-top: 150px;
}

@media screen and (max-width: 959px) {
  .c-page-wrap {
    padding-top: 80px;
  }
}

.c-page--min-width {
  min-width: 1190px;
}

@media screen and (max-width: 959px) {
  .c-page--min-width {
    min-width: 100%;
  }
}

.p-top-visual {
  background: #fff;
  z-index: 2;
  position: relative;
  padding-bottom: 100px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 959px) {
  .p-top-visual {
    min-width: 100%;
    padding: 95px 0 0;
  }
}

.p-top-visual--logo {
  width: 149px;
  margin: 37px auto 30px;
}

.p-top-visual--slider {
  height: calc(100vh - 101px);
}

@media screen and (max-width: 959px) {
  .p-top-visual--slider {
    position: relative;
    height: calc(100vh - 95px);
    height: calc(var(--vh, 1vh) * 100 - 95px);
  }
}

.p-top-visual--slider__items img {
  height: calc(100vh - 101px);
  object-fit: cover;
}

@media screen and (max-width: 959px) {
  .p-top-visual--slider__items {
    width: 100%;
    height: calc(100vh - 95px);
    height: calc(var(--vh, 1vh) * 100 - 95px);
  }
  .p-top-visual--slider__items img {
    height: calc(100vh - 95px);
    height: calc(var(--vh, 1vh) * 100 - 95px);
  }
}

.p-top-visual--slider__item {
  position: relative;
  height: 100%;
}

.p-top-visual--slider__copy {
  position: absolute;
  top: 140px;
  left: 49%;
  color: #fff;
  font-size: 3vh;
  font-weight: 500;
  letter-spacing: 5px;
}

@media screen and (max-width: 959px) {
  .p-top-visual--slider__copy {
    top: 80px;
    left: 47%;
    letter-spacing: 6px;
  }
}

.p-top-visual--slider .slick-slide-arrow {
  position: absolute;
  left: inherit;
  bottom: 0;
  background: #000;
  color: #fff;
  z-index: 1;
  width: 80px;
  text-align: center;
  padding: 30px 0;
}

@media screen and (max-width: 959px) {
  .p-top-visual--slider .slick-slide-arrow {
    bottom: -30px;
    width: 60px;
    padding: 20px 0;
  }
}

.p-top-visual--slider .slick-slide-arrow:hover {
  background: #888;
}

.p-top-visual--slider .slick-slide-arrow__prev {
  right: 80px;
}

@media screen and (max-width: 959px) {
  .p-top-visual--slider .slick-slide-arrow__prev {
    right: 60px;
  }
}

.p-top-visual--slider .slick-slide-arrow__next {
  right: 0;
}

.p-top-visual--slider-scroll {
  position: absolute;
  left: 3%;
  bottom: 100px;
  border-left: 1px solid #fff;
  color: #fff;
  padding: 0 0 53px 4px;
  -webkit-animation: down 4s ease 0s infinite;
  animation: down 4s ease 0s infinite;
}

@media screen and (max-width: 959px) {
  .p-top-visual--slider-scroll {
    left: 10%;
    bottom: 0;
  }
}

.p-top-visual--slider-scroll a {
  color: #fff;
}

.p-top-about {
  background-image: url("../images/top_about_bg.jpg");
  background-size: cover;
  background-position: 100% 100%;
  padding: 183px 0 169px;
  position: relative;
  min-width: 1190px;
}

@media screen and (max-width: 959px) {
  .p-top-about {
    background-image: url("../images/sp_top_about_bg.jpg");
    padding: 50px 0 265px;
    min-width: 100%;
  }
}

.p-top-about__wrap {
  width: 520px;
  margin: 0 auto;
}

@media screen and (max-width: 959px) {
  .p-top-about__wrap {
    width: 90%;
  }
}

.p-top-about--subttl {
  font-size: 2.8rem;
  line-height: 2.7;
  letter-spacing: .2em;
}

@media screen and (max-width: 959px) {
  .p-top-about--subttl {
    font-size: 2.1rem;
    line-height: 2.3;
    letter-spacing: 3px;
  }
}

.p-top-about--copy {
  margin: 65px 0 61px;
  color: #fff;
  line-height: 2;
}

@media screen and (max-width: 959px) {
  .p-top-about--copy {
    margin: 50px 0;
  }
}

.p-top-btn__about {
  border: 1px solid #fff;
}

.p-top-btn__about a {
  color: #fff;
}

.p-top-btn__about:hover {
  background: rgba(255, 255, 255, 0.2);
}

.p-top-btn__eitai {
  background: #000;
  margin: 0 auto;
}

.p-top-btn__eitai a {
  color: #fff;
}

.p-top-btn__eitai:hover {
  background: rgba(0, 0, 0, 0.8);
}

.p-top-eitai {
  padding: 150px 0 200px;
  min-width: 1190px;
}

@media screen and (max-width: 959px) {
  .p-top-eitai {
    padding: 63px 0 67px;
    min-width: 100%;
  }
}

.p-top-eitai--logo {
  width: 102px;
  margin: 0 auto;
}

.p-top-eitai--ttl {
  font-size: 4rem;
  text-align: center;
  margin: 18px 0 100px;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-top-eitai--ttl {
    font-size: 2.5rem;
    margin: 35px 0 47px;
  }
}

.p-top-eitai--wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (max-width: 959px) {
  .p-top-eitai--wrap {
    display: inherit;
    flex-wrap: inherit;
  }
}

.p-top-eitai--bg {
  position: absolute;
  top: 80px;
  left: 20%;
  width: 80%;
  height: 500px;
  background: #f5f2f6;
}

@media screen and (max-width: 959px) {
  .p-top-eitai--bg {
    height: 580px;
  }
}

.p-top-eitai--slider {
  width: 50%;
}

@media screen and (max-width: 959px) {
  .p-top-eitai--slider {
    width: 100%;
  }
}

.p-top-eitai--cont {
  width: 50%;
  z-index: 2;
}

@media screen and (max-width: 959px) {
  .p-top-eitai--cont {
    width: 90%;
    margin: 0 auto;
    padding: 98px 0 0;
  }
}

.p-top-eitai--subttl {
  font-size: 2.8rem;
  margin: 0 auto;
  letter-spacing: 3px;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-top-eitai--subttl {
    font-size: 2.5rem;
    -webkit-writing-mode: inherit;
    -ms-writing-mode: inherit;
    -o-writing-mode: inherit;
    writing-mode: inherit;
  }
}

@media all and (-ms-high-contrast: none) {
  .p-top-eitai--subttl {
    width: 310px;
    height: 310px;
  }
}

@-moz-document url-prefix() {
  .p-top-eitai--subttl {
    width: 40px;
    height: 310px;
  }
}

.p-top-eitai--copy {
  width: 354px;
  margin: 40px auto 30px;
  line-height: 1.9;
}

@media screen and (max-width: 959px) {
  .p-top-eitai--copy {
    width: 100%;
    margin: 50px 0;
  }
}

.p-top-info {
  padding-bottom: 168px;
}

@media screen and (max-width: 959px) {
  .p-top-info {
    padding-bottom: 20px;
  }
}

.p-top-info--wrap {
  min-width: 1190px;
  position: relative;
}

@media screen and (max-width: 959px) {
  .p-top-info--wrap {
    min-width: 100%;
  }
}

.p-top-info--conts {
  width: 1022px;
  margin: 0 auto;
}

@media screen and (max-width: 959px) {
  .p-top-info--conts {
    width: 100%;
    padding-top: 80px;
  }
}

.p-top-info--conts__bg {
  position: absolute;
  left: 15%;
  top: 44px;
  width: 85%;
  height: 540px;
  background: #f5f2f6;
  z-index: -1;
}

@media screen and (max-width: 959px) {
  .p-top-info--conts__bg {
    height: 720px;
  }
}

.p-top-info--subttl {
  font-size: 4rem;
  padding: 135px 0 48px;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-top-info--subttl {
    font-size: 2.5rem;
    padding: 20px 0 40px;
    margin: 0 auto;
    width: 90%;
  }
}

.p-top-info--copy {
  margin: 0 0 84px 36px;
  line-height: 2.1;
}

@media screen and (max-width: 959px) {
  .p-top-info--copy {
    width: 90%;
    margin: 0 auto 50px;
  }
}

.p-top-info--imgs {
  display: flex;
  flex-wrap: wrap;
  width: 1044px;
}

@media screen and (max-width: 959px) {
  .p-top-info--imgs {
    display: inherit;
    flex-wrap: inherit;
    width: 100%;
  }
}

.p-top-info--banner {
  width: 500px;
  margin-right: 22px;
}

@media screen and (max-width: 959px) {
  .p-top-info--banner {
    width: 90%;
    margin: 0 auto 47px;
  }
}

.p-top-info--banner a:hover {
  opacity: .8;
}

.p-top-banner {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 959px) {
  .p-top-banner {
    display: inherit;
    flex-wrap: inherit;
  }
}

.p-top-banner__left, .p-top-banner__right {
  width: 50%;
}

@media screen and (max-width: 959px) {
  .p-top-banner__left, .p-top-banner__right {
    width: 100%;
  }
}

.p-top-banner a:hover {
  opacity: .7;
}

.p-top-blog {
  padding: 122px 0 140px;
  min-width: 1190px;
}

@media screen and (max-width: 959px) {
  .p-top-blog {
    padding: 70px 0 75px;
    min-width: 100%;
  }
}

.p-top-blog--wrap {
  display: flex;
  flex-wrap: wrap;
  width: 1118px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 959px) {
  .p-top-blog--wrap {
    display: inherit;
    flex-wrap: inherit;
    width: 90%;
  }
}

.p-top-blog--ttl {
  margin: 0 196px 0 0;
}

@media screen and (max-width: 959px) {
  .p-top-blog--ttl {
    margin: 0;
    -webkit-writing-mode: inherit;
    -ms-writing-mode: inherit;
    -o-writing-mode: inherit;
    writing-mode: inherit;
  }
}

.p-top-blog--ttl__main {
  font-size: 3.2rem;
  margin-left: 10px;
  font-weight: 500;
  padding: 0 0 50px;
}

@media screen and (max-width: 959px) {
  .p-top-blog--ttl__main {
    font-size: 2.5rem;
    margin-left: 0;
  }
}

.p-top-blog--ttl__sub {
  color: #9e9e9e;
}

@media screen and (max-width: 959px) {
  .p-top-blog--ttl__sub {
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin-top: 6px;
  }
}

.p-top-blog--conts {
  min-width: 839px;
  border-top: 1px solid #dfdfdf;
  margin-top: 70px;
}

@media screen and (max-width: 959px) {
  .p-top-blog--conts {
    min-width: 100%;
    width: 90%;
    margin: 40px auto 0;
  }
}

.p-top-blog--item {
  display: flex;
  flex-wrap: wrap;
  padding: 34px 0;
  border-bottom: 1px solid #dfdfdf;
}

@media screen and (max-width: 959px) {
  .p-top-blog--item {
    padding: 28px 0;
  }
}

.p-top-blog--item__cat {
  width: 120px;
  text-align: center;
  font-size: 1.4rem;
  padding: 3px 0 5px;
  margin-top: 1px;
  display: inline-table;
}

.p-top-blog--item__cat a {
  color: #fff;
}

.p-top-blog--item__date {
  margin: 0 20px 0 40px;
}

@media screen and (max-width: 959px) {
  .p-top-blog--item__date {
    margin: 0 0 0 20px;
  }
}

.p-top-blog--item__cont {
  display: table;
}

@media screen and (max-width: 959px) {
  .p-top-blog--item__cont {
    width: 100%;
    margin-top: 10px;
  }
}

.p-top-blog--item__ttl {
  width: 500px;
  display: table-cell;
}

@media screen and (max-width: 959px) {
  .p-top-blog--item__ttl {
    width: 90%;
    margin-top: 6px;
  }
}

.p-top-blog--item__ttl a {
  color: #000;
}

.p-top-blog--item__ttl a:hover {
  text-decoration: underline;
}

.p-top-blog--item__brackets {
  text-align: right;
  color: #d40000;
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
}

.p-top-blog--link {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.4rem;
  border-bottom: 2px solid #d40000;
  padding-bottom: 5px;
}

.p-top-blog--link a {
  color: #000;
}

.p-top-blog--link__brackets {
  color: #d40000;
  margin-left: 10px;
}

@media screen and (max-width: 959px) {
  .p-top-blog--link {
    position: inherit;
    bottom: inherit;
    left: inherit;
    width: fit-content;
    margin: 40px 0 0 auto;
  }
}

/* _____ ID _____ */
@media screen and (max-width: 959px) {
  #about {
    padding-top: 95px;
  }
}

.p-gaiyo-ttl {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 10px;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-ttl {
    font-size: 2.5rem;
  }
}

.p-gaiyo-subttl {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 80px;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-subttl {
    font-size: 1.8rem;
  }
}

.p-gaiyo-conts {
  background-image: url("../images/gaiyo_conts_bg.jpg");
  background-size: cover;
  background-position: 100% 100%;
  padding: 180px 0 450px;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-conts {
    background-image: url("../images/sp_gaiyo_conts_bg.jpg");
    background-position: 100% 0%;
    padding: 500px 0 100px;
  }
}

.p-gaiyo-conts--copy {
  font-size: 2.8rem;
  color: #fff;
  margin: 0 0 80px 220px;
  line-height: 2.2;
  letter-spacing: 4px;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-conts--copy {
    font-size: 2.1rem;
    margin: 0 auto;
    width: 90%;
  }
}

.p-gaiyo-conts--text {
  color: #fff;
  margin-left: 220px;
  line-height: 2.4;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-conts--text {
    width: 90%;
    margin: 50px auto 0;
  }
}

.p-gaiyo-overview {
  padding: 50px 0 160px;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-overview {
    padding: 50px 0 90px;
  }
}

.p-gaiyo-overview--table {
  margin: 70px auto 0;
  letter-spacing: 5px;
}

.p-gaiyo-overview--table .colon {
  padding: 0 20px;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-overview--table {
    width: 90%;
  }
  .p-gaiyo-overview--table td {
    padding-bottom: 16px;
  }
  .p-gaiyo-overview--table .colon {
    padding: 0 3%;
    width: fit-content;
  }
}

.p-gaiyo-precept {
  padding-bottom: 175px;
  position: relative;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-precept {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 120px;
  }
}

.p-gaiyo-precept--conts {
  width: 1010px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-precept--conts {
    display: inherit;
    flex-wrap: inherit;
    width: 100%;
  }
}

.p-gaiyo-precept--wrap {
  width: 480px;
  margin: 0 50px 0 0;
}

.p-gaiyo-precept--wrap:nth-child(2) {
  margin: 0;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-precept--wrap {
    position: relative;
    width: 100%;
    margin: 0 0 80px;
  }
}

.p-gaiyo-precept--copy {
  line-height: 2.2;
  margin-top: 32px;
}

.p-gaiyo-precept--bg {
  position: absolute;
  top: 160px;
  left: 0;
  width: 96%;
  height: 360px;
  background: #f5f2f6;
  z-index: -1;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-precept--bg {
    width: 100%;
    height: 280px;
    right: -10%;
    left: inherit;
  }
}

.p-gaiyo-auspicious {
  position: relative;
  padding: 220px 0 190px;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-auspicious {
    position: inherit;
    padding: 0 0 60px;
  }
}

.p-gaiyo-auspicious--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 46%;
  z-index: 2;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-auspicious--img {
    position: inherit;
    width: 100%;
  }
}

.p-gaiyo-auspicious--wrap {
  position: relative;
  margin-left: 152px;
  min-width: 1003px;
  background: #f5f2f6;
  padding: 22% 0 50px 35px;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-auspicious--wrap {
    display: inherit;
    flex-wrap: inherit;
    margin: 0 auto;
    width: 90%;
    min-width: inherit;
    background: none;
    padding: 60px 0;
  }
}

.p-gaiyo-auspicious--ttl {
  position: absolute;
  top: -96px;
  right: 400px;
  font-size: 2.8rem;
  letter-spacing: 3px;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-auspicious--ttl {
    position: inherit;
    top: inherit;
    right: inherit;
    -webkit-writing-mode: inherit;
    -ms-writing-mode: inherit;
    -o-writing-mode: inherit;
    writing-mode: inherit;
    margin-bottom: 40px;
  }
}

.p-gaiyo-auspicious--copy {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-auspicious--copy {
    display: inherit;
    flex-wrap: inherit;
  }
}

.p-gaiyo-auspicious--text {
  width: 46.5%;
  line-height: 2;
}

.p-gaiyo-auspicious--text:nth-child(2) {
  margin-left: 4%;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-auspicious--text {
    width: 100%;
    margin: 0;
  }
  .p-gaiyo-auspicious--text:nth-child(2) {
    margin-left: 0;
  }
}

.p-gaiyo-auspicious--bg {
  position: absolute;
  top: 0;
  right: -10%;
  background: #f5f2f6;
  width: 100%;
  height: 880px;
  z-index: -1;
}

.p-gaiyo-history {
  padding: 80px 0 140px;
  min-width: 1190px;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-history {
    min-width: 100%;
    padding: 60px 0 100px;
  }
}

.p-gaiyo-history--ttl {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-history--ttl {
    font-size: 2.5rem;
  }
}

.p-gaiyo-history--table {
  width: 780px;
  margin: 40px auto 0;
  border-bottom: 1px solid #ddd;
}

.p-gaiyo-history--table tr {
  border-top: 1px solid #ddd;
}

.p-gaiyo-history--table th, .p-gaiyo-history--table td {
  padding: 20px 0 20px 20px;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-history--table {
    width: 90%;
    margin: 60px auto 0;
  }
  .p-gaiyo-history--table th, .p-gaiyo-history--table td {
    width: 100%;
    display: block;
  }
  .p-gaiyo-history--table th {
    padding: 30px 0 5px;
  }
  .p-gaiyo-history--table td {
    padding: 0 0 30px;
  }
}

@media screen and (max-width: 959px) {
  .p-gaiyo-slider {
    width: 100%;
    height: auto;
  }
}

.p-gaiyo-address {
  padding: 124px 0 150px;
  min-width: 1190px;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-address {
    padding: 77px 0 80px;
    min-width: 100%;
  }
}

.p-gaiyo-address--ttl {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-address--ttl {
    font-size: 2.5rem;
  }
}

.p-gaiyo-address--text {
  text-align: center;
  margin: 24px 0 16px;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-address--text {
    margin: 35px 0;
  }
}

.p-gaiyo-address--maps {
  margin-bottom: 16px;
}

.p-gaiyo-address--maps iframe {
  width: 100%;
}

@media screen and (max-width: 959px) {
  .p-gaiyo-address--maps iframe {
    height: 300px;
  }
}

.p-gaiyo-address--maps__link {
  text-align: center;
  text-decoration: underline;
}

@media all and (-ms-high-contrast: none) {
  .p-gaiyo-address--maps__link {
    color: #34abd3;
  }
}

.p-eitai-guide {
  text-align: center;
}

.p-eitai-guide--logo {
  width: 102px;
  margin: 0 auto;
}

.p-eitai-guide--ttl {
  font-size: 3.6rem;
  margin: 18px 0 24px;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-eitai-guide--ttl {
    font-size: 2.5rem;
    margin: 29px 0 35px;
    letter-spacing: 3px;
  }
}

.p-eitai-guide--subttl {
  font-size: 2rem;
  margin-bottom: 100px;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-eitai-guide--subttl {
    font-size: 1.8rem;
    margin-bottom: 70px;
  }
}

.p-eitai-price {
  background-image: url("../images/eitai_price_bg.jpg");
  background-size: cover;
  background-position: 100% 90%;
  padding: 100px 0 40px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 959px) {
  .p-eitai-price {
    background-image: url("../images/sp_eitai_price_bg.jpg");
    padding: 90px 0 45px;
    display: inherit;
    flex-wrap: inherit;
  }
}

.p-eitai-price--wrap {
  width: 320px;
  margin: 0 120px;
}

@media screen and (max-width: 959px) {
  .p-eitai-price--wrap {
    width: 90%;
    margin: 0 auto;
  }
}

.p-eitai-price--cont {
  width: 320px;
  height: 270px;
  padding-top: 50px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  margin: 0 0 40px;
}

@media screen and (max-width: 959px) {
  .p-eitai-price--cont {
    margin: 0 auto 35px;
  }
}

.p-eitai-price--label {
  width: fit-content;
  background: #2a003f;
  color: #fff;
  margin: 0 auto 20px;
  padding: 2px 12px 4px 12px;
}

@media all and (-ms-high-contrast: none) {
  .p-eitai-price--label {
    width: 60px;
    text-align: center;
  }
}

.p-eitai-price--fee {
  font-size: 2.4rem;
  text-align: center;
}

.p-eitai-price--fee__strong {
  font-size: 3rem;
  margin: 0 4px 0 10px;
}

.p-eitai-price--fee__yen {
  font-size: 1.8rem;
}

.p-eitai-price--note {
  width: 180px;
  margin: 16px auto 0;
  font-size: 1.6rem;
  line-height: 1.8;
}

.p-eitai-price--ttl {
  width: 80px;
  font-size: 2.8rem;
  font-weight: 500;
  margin-top: 40px;
  letter-spacing: 4px;
}

@media screen and (max-width: 959px) {
  .p-eitai-price--ttl {
    width: 100%;
    font-size: 2.5rem;
    margin: 0 0 50px;
    text-align: center;
  }
}

.p-eitai-chara {
  padding: 80px 0 200px;
  width: 1190px;
  margin: 0 auto;
}

@media screen and (max-width: 959px) {
  .p-eitai-chara {
    padding: 0 0 120px;
    width: 100%;
    margin: 10px 0 0;
  }
}

.p-eitai-chara--visual {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (max-width: 959px) {
  .p-eitai-chara--visual {
    display: inherit;
    flex-wrap: inherit;
  }
}

.p-eitai-chara--img__left {
  width: 600px;
}

.p-eitai-chara--img__right {
  width: 300px;
  margin: 170px 0 0 140px;
}

.p-eitai-chara--img__bg {
  position: absolute;
  width: 1040px;
  height: 320px;
  background: #f5f2f6;
  left: 50px;
  top: 220px;
  z-index: -1;
}

@media screen and (max-width: 959px) {
  .p-eitai-chara--img__left {
    width: 100%;
  }
  .p-eitai-chara--img__right {
    width: 70%;
    margin: 45px auto 50px;
  }
  .p-eitai-chara--img__bg {
    width: 100%;
    height: 550px;
    left: 0;
    top: 0;
  }
}

.p-eitai-chara--wrap {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 959px) {
  .p-eitai-chara--wrap {
    display: inherit;
    flex-wrap: inherit;
  }
}

.p-eitai-chara--ttl {
  font-size: 2.8rem;
  margin: 0 80px 0 100px;
  letter-spacing: 4px;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-eitai-chara--ttl {
    font-size: 2.5rem;
    margin: 0 0 50px;
    -webkit-writing-mode: inherit;
    -ms-writing-mode: inherit;
    -o-writing-mode: inherit;
    writing-mode: inherit;
    text-align: center;
  }
}

.p-eitai-chara--list {
  margin: 140px 20px 0;
  line-height: 2.2;
}

.p-eitai-chara--list .fa-dot-circle {
  color: #a69494;
  margin-right: 8px;
}

@media screen and (max-width: 959px) {
  .p-eitai-chara--list {
    width: 96%;
    margin: 0 auto;
  }
  .p-eitai-chara--list .fa-dot-circle {
    margin-right: 4px;
  }
}

.p-eitai-flow {
  padding-bottom: 150px;
}

.p-eitai-flow--ttl {
  font-size: 2.8rem;
  text-align: center;
  min-width: 1190px;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-eitai-flow--ttl {
    min-width: 100%;
    font-size: 2.5rem;
  }
}

.p-eitai-flow--wrap {
  width: 1100px;
  margin: 0 auto;
  background: #f5f2f6;
  padding: 140px 0 100px;
  margin-top: -17px;
}

@media screen and (max-width: 959px) {
  .p-eitai-flow--wrap {
    width: 100%;
    margin: -17px 0 0;
    padding: 100px 0;
  }
}

.p-eitai-flow--cont {
  width: 960px;
  margin: 0 70px;
  background: #fff;
  padding: 0 0 34px;
}

@media screen and (max-width: 959px) {
  .p-eitai-flow--cont {
    width: 90%;
    margin: 0 auto;
    padding: 0 0 28px;
  }
}

.p-eitai-flow--subttl {
  text-align: center;
}

.p-eitai-flow--subttl img {
  width: inherit;
  margin: -13px 0 20px;
}

.p-eitai-flow--text {
  text-align: center;
  font-size: 2.1rem;
}

@media screen and (max-width: 959px) {
  .p-eitai-flow--text {
    font-size: 1.6rem;
    width: 84%;
    margin: 0 auto;
  }
}

.p-eitai-flow--border {
  text-align: center;
  margin: 26px 0 34px;
}

.p-eitai-flow--border img {
  width: inherit;
}

.p-eitai-flow--btn {
  background: #000;
  margin: 90px auto 0;
}

.p-eitai-flow--btn:hover {
  opacity: .8;
}

.p-eitai-flow--btn a {
  color: #fff;
}

@media screen and (max-width: 959px) {
  .p-eitai-flow--btn {
    width: 90%;
    margin: 70px auto 0;
  }
}

.p-eitai-cemetery--wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width: 1190px;
}

@media screen and (max-width: 959px) {
  .p-eitai-cemetery--wrap {
    display: inherit;
    flex-wrap: inherit;
    min-width: 100%;
  }
}

.p-eitai-cemetery--bg {
  position: absolute;
  top: 140px;
  left: 45px;
  width: 100%;
  height: 350px;
  background: #f5f2f6;
  z-index: -1;
}

@media screen and (max-width: 959px) {
  .p-eitai-cemetery--bg {
    left: 10%;
    height: 600px;
  }
}

.p-eitai-cemetery--img {
  width: 50%;
}

@media screen and (max-width: 959px) {
  .p-eitai-cemetery--img {
    width: 100%;
  }
}

.p-eitai-cemetery--cont {
  width: 50%;
}

@media screen and (max-width: 959px) {
  .p-eitai-cemetery--cont {
    width: 90%;
    margin: 0 auto;
  }
}

.p-eitai-cemetery--subttl {
  font-size: 2.8rem;
  margin: 0 auto;
  letter-spacing: 5px;
  line-height: 1.9;
  font-weight: 500;
}

@media all and (-ms-high-contrast: none) {
  .p-eitai-cemetery--subttl {
    width: 330px;
    height: 280px;
  }
}

@media screen and (max-width: 959px) {
  .p-eitai-cemetery--subttl {
    font-size: 2.5rem;
    margin: 60px 0 30px;
    line-height: 1.6;
    -webkit-writing-mode: inherit;
    -ms-writing-mode: inherit;
    -o-writing-mode: inherit;
    writing-mode: inherit;
  }
}

@-moz-document url-prefix() {
  .p-eitai-cemetery--subttl {
    width: 100px;
  }
}

.p-eitai-cemetery--copy {
  width: 324px;
  margin: 70px auto 30px;
  line-height: 1.9;
}

@media screen and (max-width: 959px) {
  .p-eitai-cemetery--copy {
    width: 100%;
    margin: 0;
  }
}

.p-eitai-slider {
  padding: 145px 0 130px;
}

@media screen and (max-width: 959px) {
  .p-eitai-slider {
    padding: 145px 0 60px;
  }
}

.p-nenjyu {
  width: 740px;
  margin: 0 auto;
  padding-bottom: 145px;
  letter-spacing: 3px;
}

@media screen and (max-width: 959px) {
  .p-nenjyu {
    width: 90%;
    padding-bottom: 100px;
  }
}

.p-nenjyu-ttl {
  border-bottom: 1px solid #000;
}

.p-nenjyu-ttl__main {
  font-size: 4rem;
  font-weight: 500;
  float: left;
}

@media screen and (max-width: 959px) {
  .p-nenjyu-ttl__main {
    font-size: 2.5rem;
    text-align: center;
    float: inherit;
    padding: 0 0 25px;
  }
}

.p-nenjyu-ttl__sub {
  float: right;
  padding-top: 28px;
}

.p-nenjyu-wrap {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #000;
}

.p-nenjyu-wrap__left {
  width: 369px;
  border-right: 1px solid #000;
  padding-top: 40px;
}

.p-nenjyu-wrap__right {
  width: 368px;
  padding-top: 103px;
}

@media screen and (max-width: 959px) {
  .p-nenjyu-wrap {
    display: inherit;
    flex-wrap: inherit;
    border-bottom: none;
  }
  .p-nenjyu-wrap__item {
    border-left: 1px solid #000;
    width: 95%;
    margin-left: 5%;
    padding: 34px 0 0;
  }
}

.p-nenjyu-cont__left {
  margin: 0 -5px 50px 0;
  position: relative;
}

.p-nenjyu-cont__left-ttl {
  position: absolute;
  top: 6px;
  left: 90px;
}

.p-nenjyu-cont__left-ttl a {
  text-decoration: underline;
}

.p-nenjyu-cont__right {
  margin: 0 0 50px -5px;
  position: relative;
}

.p-nenjyu-cont__right-ttl {
  position: absolute;
  top: 6px;
  right: 90px;
}

.p-nenjyu-cont__right-ttl a {
  text-decoration: underline;
}

.p-nenjyu-cont__month {
  width: 66px;
  padding: 3px 0;
  text-align: center;
  border: 1px solid #000;
  border-bottom: 0;
}

@media screen and (max-width: 959px) {
  .p-nenjyu-cont {
    margin: 0 0 55px -4px;
    position: relative;
  }
  .p-nenjyu-cont--ttl {
    position: absolute;
    top: 5px;
    left: 0;
    margin-left: 35%;
  }
  .p-nenjyu-cont--ttl a {
    text-decoration: underline;
  }
  .p-nenjyu-cont__month {
    border-bottom: 1px solid #000;
    border-left: 0;
  }
}

.p-nenjyu-month {
  margin: 20px 0 0 12px;
}

.p-nenjyu-month--table {
  margin-bottom: 12px;
}

.p-nenjyu-month--table th {
  padding: 0 32px 8px 0;
}

.p-nenjyu-month--img {
  width: 300px;
}

@media screen and (max-width: 959px) {
  .p-nenjyu-month {
    margin: 20px 0 0 7%;
    letter-spacing: 0;
  }
  .p-nenjyu-month th {
    padding: 0 12px 8px 0;
  }
}

.p-butsuzen-ttl {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 100px;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-ttl {
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 1.5;
  }
}

.p-butsuzen-about {
  background-image: url("../images/butsuzen_about.jpg");
  background-size: cover;
  background-position: 50% 50%;
  padding: 268px 0 388px;
  position: relative;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-about {
    background-image: url("../images/sp_butsuzen_about.jpg");
    padding: 30px 0 200px;
    position: inherit;
  }
}

.p-butsuzen-about--ttl {
  color: #fff;
  position: absolute;
  top: 0;
  right: 90px;
  letter-spacing: 3px;
}

.p-butsuzen-about--ttl img {
  width: 1px;
  margin: 0 0 24px 13px;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-about--ttl {
    -webkit-writing-mode: inherit;
    -ms-writing-mode: inherit;
    -o-writing-mode: inherit;
    writing-mode: inherit;
    position: inherit;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    width: 225px;
  }
  .p-butsuzen-about--ttl:before {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #fff;
    display: block;
    margin-right: 20px;
  }
  .p-butsuzen-about--ttl img {
    display: none;
  }
}

.p-butsuzen-about--subttl {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.9;
  margin-left: 300px;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-about--subttl {
    font-size: 2.1rem;
    width: 90%;
    margin: 180px auto 300px;
    line-height: 2.2;
  }
}

.p-butsuzen-about--copy {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.2;
  margin: 72px 0 0 300px;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-about--copy {
    width: 90%;
    margin: 0 auto;
  }
}

.p-butsuzen-vow {
  padding: 143px 0 150px;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-vow {
    padding: 60px 0 80px;
  }
}

.p-butsuzen-vow--wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width: 1190px;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-vow--wrap {
    display: inherit;
    flex-wrap: inherit;
    min-width: 100%;
  }
}

.p-butsuzen-vow--bg {
  position: absolute;
  top: 70px;
  left: 190px;
  width: 100%;
  height: 460px;
  background: #f5f2f6;
  z-index: -1;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-vow--bg {
    left: 10%;
    min-width: 100%;
    height: 720px;
  }
}

.p-butsuzen-vow--img {
  width: 50%;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-vow--img {
    width: 100%;
  }
}

.p-butsuzen-vow--cont {
  width: 595px;
  margin: 0 auto;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-vow--cont {
    width: 90%;
  }
}

.p-butsuzen-vow--subttl {
  font-size: 2.1rem;
  font-weight: 500;
  margin: 20px auto 0;
  letter-spacing: 5px;
  line-height: 1.9;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-vow--subttl {
    -webkit-writing-mode: inherit;
    -ms-writing-mode: inherit;
    -o-writing-mode: inherit;
    writing-mode: inherit;
    font-size: 2.5rem;
    margin: 65px 0 50px;
    line-height: 1.6;
  }
}

@media all and (-ms-high-contrast: none) {
  .p-butsuzen-vow--subttl {
    width: 60%;
    height: 300px;
  }
}

@-moz-document url-prefix() {
  .p-butsuzen-vow--subttl {
    width: 120px;
  }
}

.p-butsuzen-vow--copy {
  width: fit-content;
  margin: 70px auto 30px;
  line-height: 1.9;
  font-size: 1.6rem;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-vow--copy {
    margin: 0;
  }
}

@media all and (-ms-high-contrast: none) {
  .p-butsuzen-vow--copy {
    width: 280px;
  }
}

@-moz-document url-prefix() {
  .p-butsuzen-vow--copy {
    width: 230px;
  }
}

.p-butsuzen-vow--btn {
  margin: 170px auto 0;
  border: 1px solid #000;
  font-size: 1.4rem;
}

.p-butsuzen-vow--btn a {
  color: #000;
}

.p-butsuzen-vow--btn:hover {
  opacity: .8;
}

@media screen and (max-width: 959px) {
  .p-butsuzen-vow--btn {
    width: 90%;
    margin: 120px auto 0;
  }
}

@media screen and (max-width: 959px) {
  .p-privacypolicy__sp {
    padding-top: 95px;
  }
}

.p-privacypolicy {
  padding: 50px 0 150px;
}

@media screen and (max-width: 959px) {
  .p-privacypolicy {
    padding: 50px 0 60px;
    width: 90%;
    margin: 0 auto;
  }
}

.p-privacypolicy-ttl {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-privacypolicy-ttl {
    font-size: 2.5rem;
  }
}

.p-privacypolicy-copy {
  text-align: center;
  margin: 80px auto 0;
  width: 90%;
}

@media all and (-ms-high-contrast: none) {
  .p-privacypolicy-copy {
    width: inherit;
  }
}

@media screen and (max-width: 959px) {
  .p-privacypolicy-copy {
    text-align: inherit;
    margin: 50px 0;
    width: 100%;
  }
}

.p-privacypolicy-wrap--ttl {
  font-size: 2.6rem;
  margin: 50px 0 0 80px;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-privacypolicy-wrap--ttl {
    font-size: 2.2rem;
    margin: 50px 0 0;
  }
}

.p-privacypolicy-wrap--text {
  margin: 30px 9% 0;
  line-height: 1.8;
}

@media screen and (max-width: 959px) {
  .p-privacypolicy-wrap--text {
    margin: 30px 5% 0;
  }
}

.p-privacypolicy-wrap--list {
  margin: 15px 13% 0;
  line-height: 1.8;
}

@media screen and (max-width: 959px) {
  .p-privacypolicy-wrap--list {
    margin: 15px 7% 0;
  }
}

.p-butsuji-ttl {
  bottom: -220px;
}

@media screen and (max-width: 959px) {
  .p-butsuji-ttl {
    bottom: -140px;
  }
}

.p-butsuji-copy {
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-butsuji-copy {
    font-size: 2.5rem;
  }
}

.p-butsuji-catch {
  margin: 100px 0 140px;
}

@media screen and (max-width: 959px) {
  .p-butsuji-catch {
    margin: 80px 0 140px;
  }
}

.p-butsuji-about {
  position: relative;
}

.p-butsuji-about--bg {
  position: absolute;
  top: 160px;
  left: 0;
  width: 96%;
  height: 500px;
  background: #f5f2f6;
  z-index: -1;
}

@media screen and (max-width: 959px) {
  .p-butsuji-about--bg {
    top: 130px;
    left: 10%;
    width: 100%;
    height: 380px;
  }
  .p-butsuji-about--bg__long {
    height: 500px;
  }
}

.p-butsuji-about--wrap {
  display: flex;
  flex-wrap: wrap;
  width: 980px;
  margin: 0 auto;
}

@media screen and (max-width: 959px) {
  .p-butsuji-about--wrap {
    display: inherit;
    flex-wrap: inherit;
    position: inherit;
    width: 100%;
    margin: 0;
  }
}

.p-butsuji-about--cont {
  width: 470px;
  margin-left: 40px;
}

.p-butsuji-about--cont:nth-child(1) {
  margin: 0;
}

@media screen and (max-width: 959px) {
  .p-butsuji-about--cont {
    position: relative;
    width: 90%;
    margin: 0 auto 70px;
  }
  .p-butsuji-about--cont:nth-child(1) {
    margin: 0 auto 70px;
  }
}

.p-butsuji-about--desc {
  margin-top: 40px;
  line-height: 2.1;
}

.p-butsuji-flow {
  padding: 180px 0 120px;
}

.p-butsuji-flow--ttl {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
  margin: 0 auto -16px;
  min-width: 1090px;
}

@media screen and (max-width: 959px) {
  .p-butsuji-flow--ttl {
    min-width: 100%;
    font-size: 2.5rem;
  }
}

.p-butsuji-flow--wrap {
  width: 1090px;
  margin: 0 auto;
  padding: 140px 0 85px;
  background: #f5f2f6;
}

@media screen and (max-width: 959px) {
  .p-butsuji-flow--wrap {
    width: 100%;
    padding: 120px 0 60px;
  }
}

.p-butsuji-flow--cont {
  width: 950px;
  margin: 0 auto;
  background: #fff;
  padding: 45px 0;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 959px) {
  .p-butsuji-flow--cont {
    width: 90%;
    padding: 45px 0 20px;
  }
}

.p-butsuji-flow--img {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.p-butsuji-flow--img img {
  width: auto;
}

.p-butsuji-flow--text {
  line-height: 1.9;
}

.p-butsuji-flow--text__border {
  text-align: center;
}

.p-butsuji-flow--text__border img {
  width: inherit;
}

@media screen and (max-width: 959px) {
  .p-butsuji-flow--text {
    width: 90%;
    margin: 0 auto;
  }
}

.p-butsuji-flow--border {
  margin: 40px 0 50px;
  text-align: center;
}

.p-butsuji-flow--border img {
  width: inherit;
}

.p-butsuji-reason {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 110px;
}

@media screen and (max-width: 959px) {
  .p-butsuji-reason {
    display: inherit;
    flex-wrap: inherit;
  }
}

.p-butsuji-reason--bg {
  position: absolute;
  top: 85px;
  right: 0;
  width: 1040px;
  height: 450px;
  background: #f5f2f6;
  z-index: -1;
}

@media screen and (max-width: 959px) {
  .p-butsuji-reason--bg {
    top: 0;
    left: 10%;
    width: 100%;
    height: 760px;
  }
}

.p-butsuji-reason--img {
  width: 48%;
}

@media screen and (max-width: 959px) {
  .p-butsuji-reason--img {
    width: 100%;
  }
}

.p-butsuji-reason--cont {
  width: 29.5%;
  margin: 0 auto;
}

@media screen and (max-width: 959px) {
  .p-butsuji-reason--cont {
    width: 90%;
  }
}

.p-butsuji-reason--subttl {
  font-size: 2.8rem;
  font-weight: 500;
  margin: 0 auto;
  letter-spacing: 4px;
  line-height: 2;
}

@media all and (-ms-high-contrast: none) {
  .p-butsuji-reason--subttl {
    height: 300px;
    width: 230px;
  }
}

@media screen and (max-width: 959px) {
  .p-butsuji-reason--subttl {
    font-size: 2.5rem;
    margin: 67px 0 50px;
    -webkit-writing-mode: inherit;
    -ms-writing-mode: inherit;
    -o-writing-mode: inherit;
    writing-mode: inherit;
    line-height: 1.6;
  }
}

@-moz-document url-prefix() {
  .p-butsuji-reason--subttl {
    width: 120px;
  }
}

.p-butsuji-reason--copy {
  margin-top: 60px;
  line-height: 2.1;
}

@media screen and (max-width: 959px) {
  .p-butsuji-reason--copy {
    margin-top: 0;
  }
}

.p-butsuji-various {
  padding: 100px 0 150px;
}

@media screen and (max-width: 959px) {
  .p-butsuji-various {
    padding-bottom: 80px;
  }
}

.p-butsuji-various--ttl {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 500;
}

@media screen and (max-width: 959px) {
  .p-butsuji-various--ttl {
    font-size: 2.5rem;
  }
}

.p-butsuji-various--wrap {
  width: 800px;
  margin: 43px auto 0;
}

@media screen and (max-width: 959px) {
  .p-butsuji-various--wrap {
    width: 90%;
  }
}

.p-butsuji-various--table {
  letter-spacing: 2px;
  border-bottom: 1px solid #ddd;
}

.p-butsuji-various--table tr {
  border-top: 1px solid #ddd;
}

.p-butsuji-various--table th {
  width: 145px;
  padding: 0 40px 0 20px;
  vertical-align: middle;
}

.p-butsuji-various--table td {
  width: 580px;
  padding: 38px 15px 38px 0;
}

@media screen and (max-width: 959px) {
  .p-butsuji-various--table th {
    width: 100%;
    display: block;
    vertical-align: inherit;
    padding: 30px 0 20px;
  }
  .p-butsuji-various--table td {
    width: 100%;
    display: block;
    padding: 0 0 30px;
  }
}

.p-butsuji-various--note__ttl {
  margin: 64px 0 28px;
  text-align: center;
}

.p-butsuji-various--note__text {
  margin-bottom: 115px;
}

@media screen and (max-width: 959px) {
  .p-butsuji-various--note__ttl {
    margin: 50px 0 20px;
    text-align: inherit;
  }
  .p-butsuji-various--note__text {
    margin-bottom: 90px;
  }
}

.p-butsuji-various--btn {
  border: 1px solid #000;
  margin: 0 auto;
}

.p-butsuji-various--btn a {
  color: #000;
  font-weight: bold;
}

.p-butsuji-various--btn:hover {
  opacity: .8;
}

@media screen and (max-width: 959px) {
  .p-contact-tel {
    width: 90%;
    margin: 0 auto;
  }
}

.p-contact-tel--note {
  text-align: center;
}

@media screen and (max-width: 959px) {
  .p-contact-tel--note {
    text-align: inherit;
    font-size: 1.8rem;
    line-height: 1.7;
  }
}

.p-contact-tel--btn {
  margin: 32px auto 0;
  border: 1px solid #000;
  font-size: 2.8rem;
  width: 378px;
}

.p-contact-tel--btn a {
  color: #000;
}

@media screen and (max-width: 959px) {
  .p-contact-tel--btn {
    width: 100%;
  }
}

.p-contact-wrap {
  margin: 120px 0;
}

@media screen and (max-width: 959px) {
  .p-contact-wrap {
    width: 100%;
    margin: 90px auto 0;
  }
}

.p-contact-wrap--note {
  text-align: center;
}

@media screen and (max-width: 959px) {
  .p-contact-wrap--note {
    width: 90%;
    margin: 0 auto;
    text-align: inherit;
  }
}

.p-contact-wrap--form {
  width: 900px;
  margin: 70px auto 0;
}

@media screen and (max-width: 959px) {
  .p-contact-wrap--form {
    width: 90%;
  }
}

.p-contact-wrap--form__tr {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

@media screen and (max-width: 959px) {
  .p-contact-wrap--form__tr__yubin {
    margin-bottom: 10px;
  }
}

.p-contact-wrap--form__th {
  width: 160px;
  margin-top: 4px;
}

@media screen and (max-width: 959px) {
  .p-contact-wrap--form__th {
    width: fit-content;
  }
}

.p-contact-wrap--form__must {
  width: 60px;
  font-size: 1.6rem;
  background: #d40000;
  color: #fff;
  text-align: center;
  margin: 4px 50px 0 30px;
  display: inline-table;
  line-height: 27px;
}

.p-contact-wrap--form__field {
  width: 590px;
}

.p-contact-wrap--form__field input {
  width: 590px;
  background: #f9f9f9;
  border: 0;
  padding: 10px 5px;
  font-size: 1.8rem;
}

.p-contact-wrap--form__field input[type="number"]::-webkit-outer-spin-button,
.p-contact-wrap--form__field input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.p-contact-wrap--form__field input[type="number"] {
  -moz-appearance: textfield;
}

.p-contact-wrap--form__field textarea {
  width: 590px;
  background: #f9f9f9;
  border: 0;
  padding: 10px 5px;
  font-size: 1.8rem;
}

.p-contact-wrap--form__field .error {
  display: block;
  font-size: 1.4rem;
  color: #d40000;
}

@media screen and (max-width: 959px) {
  .p-contact-wrap--form__field {
    display: block;
    width: 100%;
    margin-top: 12px;
  }
  .p-contact-wrap--form__field input {
    width: 98%;
  }
  .p-contact-wrap--form__field textarea {
    width: 98%;
  }
}

.p-contact-wrap--form__yubin {
  width: 220px;
}

.p-contact-wrap--form__yubin input {
  width: 160px;
  margin-left: 10px;
}

@media screen and (max-width: 959px) {
  .p-contact-wrap--form__yubin {
    width: 100%;
  }
}

.p-contact-wrap--form__note {
  font-size: 1.2rem;
  color: #757575;
}

.p-contact-wrap--form__note a {
  text-decoration: underline;
}

.p-contact-wrap--form__privacypolicy input {
  width: 20px;
}

.p-contact-wrap--form__privacypolicy a {
  color: #000;
  text-decoration: underline;
}

.p-contact-wrap--form__privacypolicy .error {
  display: contents;
}

.p-contact-wrap--form__btn {
  margin: 0 auto;
}

.p-contact-wrap--form__btn input {
  width: 200px;
  border: 0;
  background: #2a003f;
  color: #fff;
  padding: 14px 0;
  font-size: 1.6rem;
  margin: 70px auto 0;
  display: block;
  cursor: pointer;
  border-radius: 0;
}

@media all and (-ms-high-contrast: none) {
  .p-contact-wrap--form__btn input {
    margin: 70px 350px 0;
  }
}

.p-check-copy {
  text-align: center;
}

.p-check-wrap {
  margin: 70px 0 150px;
}

@media screen and (max-width: 959px) {
  .p-check-wrap {
    margin: 70px 0 80px;
  }
}

.p-check-wrap .p-contact-wrap--form__tr {
  margin-bottom: 0;
}

@media screen and (max-width: 959px) {
  .p-check-wrap .p-contact-wrap--form__tr {
    margin-bottom: 20px;
  }
  .p-check-wrap .p-contact-wrap--form__tr__yubin {
    margin-bottom: 0;
  }
}

.p-check-wrap .p-contact-wrap--form__th {
  width: 200px;
  padding-top: 20px;
}

@media screen and (max-width: 959px) {
  .p-check-wrap .p-contact-wrap--form__th {
    width: 100%;
    padding-top: 0;
  }
}

.p-check-wrap .p-contact-wrap--form__must {
  display: none;
}

.p-check-wrap .p-contact-wrap--form__field {
  border-left: 1px solid #aaa;
  padding: 20px 0 30px 50px;
}

@media screen and (max-width: 959px) {
  .p-check-wrap .p-contact-wrap--form__field {
    border: 1px solid #aaa;
    padding: 10px;
  }
}

.p-check-wrap .p-contact-wrap--form__privacypolicy {
  padding-top: 25px;
}

@media screen and (max-width: 959px) {
  .p-check-wrap .p-contact-wrap--form__privacypolicy {
    padding-top: 10px;
  }
}

.p-check-back {
  margin: 20px auto 0;
}

@media all and (-ms-high-contrast: none) {
  .p-check-back {
    display: block;
    margin: 20px 376px 0;
  }
}

.p-check-back input {
  border: 0;
  background: inherit;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

@media all and (-ms-high-contrast: none) {
  .p-check-back input {
    background: none;
  }
}

.p-comp-wrap {
  padding: 100px 0;
}

.p-comp-tel--note {
  text-align: center;
  line-height: 2.1;
}

.p-comp-top {
  width: 200px;
  margin: 115px auto 0;
  background: #2a003f;
  text-align: center;
  font-size: 1.6rem;
}

.p-comp-top a {
  color: #fff;
}

.p-comp-top__text {
  padding: 14px 0;
}

@media screen and (max-width: 959px) {
  .p-comp-wrap {
    padding: 70px 0 80px;
  }
  .p-comp-tel {
    width: 90%;
    margin: 0 auto;
  }
  .p-comp-top {
    width: 220px;
    margin: 77px auto 0;
  }
}

.p-blog-cat {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.p-blog-cat--item {
  width: 150px;
  margin-right: 20px;
}

@media screen and (max-width: 959px) {
  .p-blog-cat {
    width: 90%;
  }
  .p-blog-cat--item {
    width: 47%;
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .p-blog-cat--item:nth-child(odd) {
    margin-right: 6%;
  }
}

.p-blog-wrap {
  width: 900px;
  margin: 56px auto 150px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 959px) {
  .p-blog-wrap {
    width: 90%;
    display: inherit;
    flex-wrap: inherit;
    margin: 56px auto 80px;
  }
}

.p-blog-cont {
  width: 420px;
  margin-bottom: 60px;
}

.p-blog-cont:nth-child(odd) {
  margin-right: 60px;
}

@media screen and (max-width: 959px) {
  .p-blog-cont {
    width: 100%;
  }
  .p-blog-cont:nth-child(odd) {
    margin-right: 0;
  }
}

.p-blog-cont--catch {
  width: 420px;
  height: 280px;
}

.p-blog-cont--catch:hover {
  opacity: .8;
}

@media screen and (max-width: 959px) {
  .p-blog-cont--catch {
    width: 100%;
    height: auto;
  }
  .p-blog-cont--catch img {
    object-fit: cover;
    height: auto;
  }
}

.p-blog-cont--date {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

@media screen and (max-width: 959px) {
  .p-blog-cont--date {
    margin-top: 14px;
  }
}

.p-blog-cont--cat {
  margin: 2px 14px 0 0;
  font-size: 16px;
}

@media screen and (max-width: 959px) {
  .p-blog-cont--cat {
    margin: 0 14px 0 0;
  }
}

.p-blog-cont--ttl {
  font-size: 2rem;
  margin-top: 8px;
}

.p-blog-cont--ttl a {
  color: #000;
  text-decoration: underline;
}

@media screen and (max-width: 959px) {
  .p-blog-cont--ttl {
    font-size: 1.8rem;
    margin-top: 12px;
  }
}

.p-blog-cont--pager {
  font-size: 2.4rem;
  margin: 0 auto;
}

@media screen and (max-width: 959px) {
  .p-blog-cont--pager {
    text-align: center;
  }
}

.p-blog-cont--pager a {
  color: #898989;
  font-weight: bolder;
}

.p-blog-cont--pager .page-numbers {
  margin-right: 30px;
}

.p-blog-cont--pager .page-numbers:last-child {
  margin-right: 0;
}

.p-single-wrap {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 150px;
}

@media screen and (max-width: 959px) {
  .p-single-wrap {
    width: 90%;
  }
}

.p-single-date {
  display: flex;
  flex-wrap: wrap;
}

.p-single-date--cat {
  margin-right: 20px;
}

.p-single-ttl {
  font-size: 2.8rem;
  margin: 12px 0;
}

@media screen and (max-width: 959px) {
  .p-single-ttl {
    font-size: 2.2rem;
    margin: 16px 0;
  }
}

.p-single-cont img {
  height: inherit;
  margin-bottom: 28px;
}

.p-single-cont h2 {
  font-size: 2.2rem;
  margin-bottom: 28px;
  border-left: 10px solid #7e1a6a;
  padding-left: 12px;
}

.p-single-cont h3 {
  font-size: 2rem;
  margin-bottom: 28px;
}

@media screen and (max-width: 959px) {
  .p-single-cont h3 {
    font-size: 1.8rem;
  }
}

.p-single-cont p {
  line-height: 2;
  margin-bottom: 28px;
}

.p-single-back {
  text-align: center;
  margin-top: 80px;
  font-size: 1.4rem;
  color: #d40000;
}

.p-single-back a {
  color: #000;
  padding-bottom: 5px;
  border-bottom: 2px solid #d40000;
  font-weight: 500;
  font-size: 1.8rem;
  margin-left: 8px;
}

.p-single-back a:hover {
  opacity: .7;
}
