// main: ../../default.scss
.c-page {
  &-visual {
    position: relative;
    @include mq(sp) {
      padding-top: 95px;
      width: 100%;
    }
  }
  &-ttl {
    position: absolute;
    right: 80px;
    bottom: -50px;
    background: #fff;
    font-size: 2.4rem;
    padding: 50px 32px 70px;
    border-top: 6px solid $red;
    letter-spacing: 3px;
    @include mq(sp) {
      right: 15%;
      font-size: 1.6rem;
      font-weight: 500;
      padding: 34px 20px 40px;
    }
  }
  &-breadcrumbs {
    font-size: 1.6rem;
    margin: 30px 51px 0;
    z-index: 3;
    position: relative;
    @include mq(sp) {
      font-size: 1.2rem;
      margin: 20px 5% 0;
    }
    &__arrow {
      margin: 0 16px;
    }
    a {
      color: #666;
      text-decoration: underline;
      &:hover {
        color: #000;
      }
    }
  }
  &-wrap {
    padding-top: 150px;
    @include mq(sp) {
      padding-top: 80px;
    }
  }
  &--min-width {
    min-width: 1190px;
    @include mq(sp) {
      min-width: 100%;
    }
  }
}
