// main: ../../default.scss
.c-top {
  &-vertical-ttl {
    color: $sunken_red;
    position: absolute;
    top: 0;
    right: 90px;
    letter-spacing: 3px;
    img {
      width: 1px;
      margin: 0 0 24px 13px;
    }
    @include mq(sp) {
      position: inherit;
      right: 0;
      letter-spacing: inherit;
      font-size: 1.4rem;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      width: 150px;
      &:before {
      	content: "";
      	flex-grow: 1;
      	height: 1px;
      	background: $sunken_red;
      	display: block;
        margin-right: 20px;
      }
    }
  }
}
