// main: ../default.scss
footer {
  background: $gray;
  position: relative;
  min-width: 1190px;
  @include mq(sp) {
    min-width: 100%;
  }
}

.l-footer {
  &-wrap {
    width: 1190px;
    margin: 0 auto;
    padding: 40px 0 20px;
    background: $gray;
    @include flex();
    @include mq(sp) {
      width: 100%;
    }
  }
  &-name {
    font-weight: bold;
    margin-left: 51px;
    @include mq(sp) {
      margin-left: 0;
      width: $sp_cont;
      margin: 0 auto 12px;
      font-size: 1.8rem;
    }
  }
  &-address {
    font-size: 1.6rem;
    margin: 0 29px;
    @include mq(sp) {
      width: $sp_cont;
      margin: 0 auto;
    }
  }
  &-tel {
    font-size: 1.6rem;
    @include mq(sp) {
      width: $sp_cont;
      margin: 4px auto 12px;
    }
  }
  &-map {
    background: $red;
    text-align: center;
    color: #fff;
    padding: 4px 12px;
    font-size: 1.2rem;
    border-radius: 20px;
    margin: 0 180px 0 28px;
    @include mq(sp) {
      margin: 0 auto 0 5%;
    }
    .fas {
      margin-left: 5px;
    }
    a {
      color: #fff;
    }
    &:hover {
      opacity: .8;
    }
  }
  &-pp {
    font-size: 1.2rem;
    margin: 0 60px 0 0;
    @include mq(sp) {
      margin: 0 15% 0 0;
    }
    &__icon {
      background: #000;
      color: #fff;
      font-size: 1.2rem;
      border-radius: 50%;
      padding: 5px;
      margin-right: 6px;
    }
    a {
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-totop {
    width: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    @include mq(sp) {
      width: 36px;
    }
  }
}
