// main: ../default.scss
@media all and (max-width: $media-S) {
  .wrapper {
    height: 100%;
    overflow-x: hidden;
    position: relative;
  }
  .overlay {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(80,80,80,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
  }
  .overlay.open {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  main {
    height: 100%;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main.open {
    transform: translateX(-100%);
  }
  .menu-trigger {
    display: inline-block;
    width: 36px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    position: fixed;
    top: 35px;
    right: 30px;
    z-index: 100;
  }
  .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #555;
    transition: all .5s;
  }
  .menu-trigger.active span {
    background-color: #fff;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(6px) rotate(-45deg);
  }
  .menu-trigger span:nth-of-type(2) {
    top: 9px;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
  }
  nav {
    width: 100%;
    height: 100%;
    background-image: url('../images/sp_nav_bg.jpg');
    background-size: cover;
    background-position: 100% 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(100%);
    transition: all .5s;
    overflow: scroll;
  }
  nav.open {
    transform: translateZ(0);
  }
  .menu-logo {
    width: 149px;
    margin: 40px 0 40px 5%;
  }
  nav ul {
    width: $sp_cont;
    margin: 0 auto;
    border-bottom: 1px solid $light_purple;
  }
  nav li {
    color: #fff;
    font-size: 1.8rem;
    padding: 20px 0 20px 20px;
    border-top: 1px solid $light_purple;
  }
  .menu-btn {
    width: $sp_cont!important;
    margin: 40px auto;
    border: 1px solid #fff;
    a {
      color: #fff;
    }
  }
}
@media all and (min-width: $mediaM-) {
  nav {
    display: none;
  }
}
