// main: ../../default.scss
.p-butsuji {
  &-ttl {
    bottom: -220px;
    @include mq(sp) {
      bottom: -140px;
    }
  }
  &-copy {
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
    @include mq(sp) {
      font-size: 2.5rem;
    }
  }
  &-catch {
    margin: 100px 0 140px;
    @include mq(sp) {
      margin: 80px 0 140px;
    }
  }
  &-about {
    position: relative;
    &--bg {
      position: absolute;
      top: 160px;
      left: 0;
      width: 96%;
      height: 500px;
      background: $gray;
      z-index: -1;
      @include mq(sp) {
        top: 130px;
        left: 10%;
        width: 100%;
        height: 380px;
        &__long {
          height: 500px;
        }
      }
    }
    &--wrap {
      @include flex();
      width: 980px;
      margin: 0 auto;
      @include mq(sp) {
        @include flex(inherit,inherit);
        position: inherit;
        width: 100%;
        margin: 0;
      }
    }
    &--cont {
      width: 470px;
      margin-left: 40px;
      &:nth-child(1) {
        margin: 0;
      }
      @include mq(sp) {
        position: relative;
        width: $sp_cont;
        margin: 0 auto 70px;
        &:nth-child(1) {
          margin: 0 auto 70px;
        }
      }
    }
    &--desc {
      margin-top: 40px;
      line-height: 2.1;
    }
  } //.p-butsuji-about
  &-flow {
    padding: 180px 0 120px;
    &--ttl {
      text-align: center;
      font-size: 2.8rem;
      font-weight: 500;
      margin: 0 auto -16px;
      min-width: 1090px;
      @include mq(sp) {
        min-width: 100%;
        font-size: 2.5rem;
      }
    }
    &--wrap {
      width: 1090px;
      margin: 0 auto;
      padding: 140px 0 85px;
      background: $gray;
      @include mq(sp) {
        width: 100%;
        padding: 120px 0 60px;
      }
    }
    &--cont {
      width: 950px;
      margin: 0 auto;
      background: #fff;
      padding: 45px 0;
      text-align: center;
      position: relative;
      @include mq(sp) {
        width: $sp_cont;
        text-align: inherit;
        padding: 45px 0 20px;
      }
    }
    &--img {
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      text-align: center;
      img {
        width: auto;
      }
    }
    &--text {
      line-height: 1.9;
      @include mq(sp) {
        width: 90%;
        margin: 0 auto;
        &__border {
          text-align: center;
        }
      }
    }
    &--border {
      width: 2px;
      height: 40px;
      background: #000;
      margin: 40px auto 50px;
    }
  } //.p-butsuji-flow
  &-reason {
    @include flex();
    position: relative;
    padding-bottom: 110px;
    @include mq(sp) {
      @include flex(inherit, inherit);
    }
    &--bg {
      position: absolute;
      top: 85px;
      right: 0;
      width: 1040px;
      height: 450px;
      background: $gray;
      z-index: -1;
      @include mq(sp) {
        top: 0;
        left: 10%;
        width: 100%;
        height: 760px;
      }
    }
    &--img {
      width: 48%;
      @include mq(sp) {
        width: 100%;
      }
    }
    &--cont {
      width: 29.5%;
      margin: 0 auto;
      @include mq(sp) {
        width: $sp_cont;
      }
    }
    &--subttl {
      font-size: 2.8rem;
      font-weight: 500;
      margin: 0 auto;
      letter-spacing: 4px;
      line-height: 2;
      @include mq(ie) {
        height: 300px;
        width: 230px;
      }
      @include mq(sp) {
        font-size: 2.5rem;
        margin: 67px 0 50px;
        @include offVertical();
        line-height: 1.6;
      }
    }
    &--copy {
      margin-top: 60px;
      line-height: 2.1;
      @include mq(sp) {
        margin-top: 0
      }
    }
  } //.p-butsuji-reason
  &-various {
    padding: 100px 0 150px;
    @include mq(sp) {
      padding-bottom: 80px;
    }
    &--ttl {
      font-size: 4rem;
      text-align: center;
      letter-spacing: 4px;
      font-weight: 500;
      @include mq(sp) {
        font-size: 2.5rem;
      }
    }
    &--wrap {
      width: 800px;
      margin: 43px auto 0;
      @include mq(sp) {
        width: $sp_cont;
      }
    }
    &--table {
      letter-spacing: 2px;
      border-bottom: 1px solid $border_gray;
      tr {
        border-top: 1px solid $border_gray;
      }
      th {
        width: 145px;
        padding: 0 40px 0 20px;
        vertical-align: middle;
      }
      td {
        width: 580px;
        padding: 38px 15px 38px 0;
      }
      @include mq(sp) {
        th {
          width: 100%;
          display: block;
          vertical-align: inherit;
          padding: 30px 0 20px;
        }
        td {
          width: 100%;
          display: block;
          padding: 0 0 30px;
        }
      }
    }
    &--note {
      &__ttl {
        margin: 64px 0 28px;
        text-align: center;
      }
      &__text {
        margin-bottom: 115px;
      }
      @include mq(sp) {
        &__ttl {
          margin: 50px 0 20px;
          text-align: inherit;
        }
        &__text {
          margin-bottom: 90px;
        }
      }
    }
    &--btn {
      border: 1px solid #000;
      margin: 0 auto;
      a {
        color: #000;
        font-weight: bold;
      }
      &:hover {
        opacity: .8;
      }
    }
  } //.p-butsuji-various
} //.p-butsuji
