// main: ../../default.scss
.p-contact {
  &-tel {
    @include mq(sp) {
      width: $sp_cont;
      margin: 0 auto;
    }
    &--note {
      text-align: center;
      @include mq(sp) {
        text-align: inherit;
        font-size: 1.8rem;
        line-height: 1.7;
      }
    }
    &--btn {
      margin: 32px auto 0;
      border: 1px solid #000;
      font-size: 2.8rem;
      width: 378px;
      a {
        color: #000;
      }
      @include mq(sp) {
        width: 100%;
      }
    }
  } //.p-contact-tel
  &-wrap {
    margin: 120px 0;
    @include mq(sp) {
      width: 100%;
      margin: 90px auto 0;
    }
    &--note {
      text-align: center;
      @include mq(sp) {
        width: $sp_cont;
        margin: 0 auto;
        text-align: inherit;
      }
    }
    &--form {
      width: 900px;
      margin: 70px auto 0;
      @include mq(sp) {
        width: $sp_cont;
      }
      &__tr {
        @include flex();
        margin-bottom: 30px;
        @include mq(sp) {
          &__yubin {
            margin-bottom: 10px;
          }
        }
      }
      &__th {
        width: 160px;
        margin-top: 4px;
        @include mq(sp) {
          width: fit-content;
        }
      }
      &__must {
        width: 60px;
        font-size: 1.6rem;
        background: $red;
        color: #fff;
        text-align: center;
        margin: 4px 50px 0 30px;
        display: inline-table;
        line-height: 27px;
      }
      &__field {
        width: 590px;
        input {
          width: 590px;
          background: #f9f9f9;
          border: 0;
          padding: 10px 5px;
          font-size: 1.8rem;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type="number"] {
          -moz-appearance:textfield;
        }
        textarea {
          width: 590px;
          background: #f9f9f9;
          border: 0;
          padding: 10px 5px;
          font-size: 1.8rem;
        }
        .error {
          display: block;
          font-size: 1.4rem;
          color: $red;
        }
        @include mq(sp) {
          display: block;
          width: 100%;
          margin-top: 12px;
          input {
            width: 98%;
          }
          textarea {
            width: 98%;
          }
          .error {

          }
        }
      }
      &__yubin {
        width: 220px;
        input {
          width: 160px;
          margin-left: 10px;
        }
        @include mq(sp) {
          width: 100%;
        }
      }
      &__note {
        font-size: 1.2rem;
        color: #757575;
        a {
          text-decoration: underline;
        }
      }
      &__privacypolicy {
        input {
          width: 20px;
        }
        a {
          color: #000;
          text-decoration: underline;
        }
        .error {
          display: contents;
        }
      }
      &__btn {
        margin: 0 auto;
        input {
          width: 200px;
          border: 0;
          background: $dark_purple;
          color: #fff;
          padding: 14px 0;
          font-size: 1.6rem;
          margin: 70px auto 0;
          display: block;
          cursor: pointer;
          border-radius: 0;
          @include mq(ie) {
            margin: 70px 350px 0;
          }
        }
      }
    }
  } //.p-contact-wrap
} //.p-contact
