// main: ../../default.scss
.p-nenjyu {
  width: 740px;
  margin: 0 auto;
  padding-bottom: 145px;
  letter-spacing: 3px;
  @include mq(sp) {
    width: $sp_cont;
    padding-bottom: 100px;
  }
  &-ttl {
    border-bottom: 1px solid #000;
    &__main {
      font-size: 4rem;
      font-weight: 500;
      float: left;
      @include mq(sp) {
        font-size: 2.5rem;
        text-align: center;
        float: inherit;
        padding: 0 0 25px;
      }
    }
    &__sub {
      float: right;
      padding-top: 28px;
    }
  } //.p-nenjyu--ttl
  &-wrap {
    @include flex();
    border-bottom: 1px solid #000;
    &__left {
      width: 369px;
      border-right: 1px solid #000;
      padding-top: 40px;
    }
    &__right {
      width: 368px;
      padding-top: 103px;
    }
    @include mq(sp) {
      @include flex(inherit, inherit);
      border-bottom: none;
      &__item {
        border-left: 1px solid #000;
        width: 95%;
        margin-left: 5%;
        padding: 34px 0 0;
      }
    }
  } //.p-nenjyu-wrap
  &-cont {
    &__left {
      margin: 0 -5px 50px 0;
      position: relative;
      &-ttl {
        position: absolute;
        top: 6px;
        left: 90px;
        a {
          text-decoration: underline;
        }
      }
    }
    &__right {
      margin: 0 0 50px -5px;
      position: relative;
      &-ttl {
        position: absolute;
        top: 6px;
        right: 90px;
        a {
          text-decoration: underline;
        }
      }
    }
    &__month {
      width: 66px;
      padding: 3px 0;
      text-align: center;
      border: 1px solid #000;
      border-bottom: 0;
    }
    @include mq(sp) {
      margin: 0 0 55px -4px;
      position: relative;
      &--ttl {
        position: absolute;
        top: 5px;
        left: 0;
        margin-left: 35%;
        a {
          text-decoration: underline;
        }
      }
      &__month {
        border-bottom: 1px solid #000;
        border-left: 0;
      }
    }
  } //.p-nenjyu-cont
  &-month {
    margin: 20px 0 0 12px;
    &--table {
      margin-bottom: 12px;
      th {
        padding: 0 32px 8px 0;
      }
    }
    &--img {
      width: 300px;
    }
    @include mq(sp) {
      margin: 20px 0 0 7%;
      letter-spacing: 0;
      th {
        padding: 0 12px 8px 0;
      }
    }
  }
} //.p-nenjyu
