// main: ../default.scss
.u-cat {
  &-item {
    text-align: center;
    padding: 4px 10px;
    color: #fff;
    a {
      color: #fff;
    }
  }
  &-list {
    @include mq(sp) {
      padding: 4px 0;
    }
  }
  &-news {
    background: $purple;
  }
  &-jyusyoku {
    background: $dark_purple;
  }
  &-diary {
    background: $red;
  }
  &-nokotsudo {
    background: $orange;
  }
  &-all {
    background: $brown;
  }
}
